<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.User.FirstName @ViewBag.User.LastName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">Scambio</div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Content/Assets/avatar.png" alt="ava" class="img-rounded">
                </a>
            </div>



            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="initial">@ViewBag.User.FirstName @ViewBag.User.LastName</li>
                    <li>
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control nav-search-size navbar-search-users-tb" placeholder="Search other users...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default navbar-search-users" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>




                <ul class="nav navbar-nav navbar-right nav-bar-right-panel">
                    <li><button class="btn btn-default" type="button">Settings</button></li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-default">Sign Out</button>
                        }
                        
                        @*<button class="btn btn-default" name="btnSignOut" type="button" onclick="document.location.href = $('#signOutUrl').attr('href');">Sign Out</button>
                        <a id="signOutUrl" href="@Html.AttributeEncode(Url.Action("LogOff", "Account"))" style="display:none;"></a>*@
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    @RenderBody()

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {

            var menu = $('.navbar');
            var origOffsetY = menu.offset().top;

            function scroll() {
                if ($(window).scrollTop() >= origOffsetY) {
                    $('.navbar').addClass('sticky');
                    $('.main-container').addClass('navbar-padding');
                } else {
                    $('.navbar').removeClass('sticky');
                    $('.main-container').removeClass('navbar-padding');
                }


            }

            document.onscroll = scroll;

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
