@{
    @model Scambio.Web.ViewModels.UserPageViewModel
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    
    
</head>
<body>
    <header class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">Scambio</div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand fancybox" href="~/Content/Assets/avatar.png">
                    @if (!string.IsNullOrEmpty(Model.LogginedUser.AvatarLocation))
                    {
                        <img src="@Model.LogginedUser.AvatarLocation" alt="ava" class="img-rounded">
                    }
                    else
                    {
                        <img src="~/Content/Assets/no_avatar.png" alt="ava" class="img-rounded">
                    }
                    
                </a>
            </div>



            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="initial">@Model.LogginedUser.FirstName @Model.LogginedUser.LastName</li>
                    <li>
                        @using (Html.BeginForm("FindUsers", "Home", FormMethod.Get, new { @class= "navbar-form navbar-left" }))
                        {
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="searchQuery" class="form-control nav-search-size navbar-search-users-tb" placeholder="Search other users...">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default navbar-search-users" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                    </div>
                                </div>
                        }
                    </li>
                </ul>




                <ul class="nav navbar-nav navbar-right nav-bar-right-panel">
                    <li>
                        <button class="btn btn-default" type="button" onclick="document.location.href = $('#settingsUrl').attr('href');">Settings</button>
                        <a id="settingsUrl" href="@Html.AttributeEncode(Url.Action("Settings", "Account"))" style="display: none;"></a>
                    </li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-default">Sign Out</button>
                        }
                        
                        @*<button class="btn btn-default" name="btnSignOut" type="button" onclick="document.location.href = $('#signOutUrl').attr('href');">Sign Out</button>
                        <a id="signOutUrl" href="@Html.AttributeEncode(Url.Action("LogOff", "Account"))" style="display:none;"></a>*@
                    </li>

                </ul>


            </div>
        </div>
    </nav>
    @RenderBody()

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.pack.js?v=2.1.5"></script>
<script>
    $(document).ready(function () {

        $(".fancybox").fancybox({
            helpers: {
                title: {
                    type: 'over'
                }
            }
        });

        var menu = $('.navbar');
        var origOffsetY = menu.offset().top;

        function scroll() {
            if ($(window).scrollTop() >= origOffsetY) {
                $('.navbar').addClass('sticky');
                $('.main-container').addClass('navbar-padding');
                $('.main-settings').addClass('navbar-padding');
                $('.btn-crop-wrapper').addClass('navbar-padding');
            } else {
                $('.navbar').removeClass('sticky');
                $('.main-container').removeClass('navbar-padding');
                $('.main-settings').removeClass('navbar-padding');
                $('.btn-crop-wrapper').removeClass('navbar-padding');
            }


        }

        document.onscroll = scroll;

    });
</script>

    @RenderSection("scripts", required: false)
</body>
</html>
