@model IEnumerable<Scambio.Web.ViewModels.PostWallViewModel>




@foreach (var post in Model)
{
    <div class="post" id="@post.PostId">
        <div class="author-info">
            @if (!string.IsNullOrEmpty(post.AuthorAvatar))
            {
                <img src="@post.AuthorAvatar" alt="ava" class="img-circle">
            }
            else
            {
                <img src="~/Content/Assets/no_avatar.png" alt="ava" class="img-circle">
            }
            
            <div class="author-post" id="@post.AuthorId">@post.FirstNameAuthor @post.LastNameAuthor</div>
            <div class="btn-delete-post">
                <button type="button" class="close btn-delete-post-id">×</button>
            </div>
        </div>


        <div class="post-container">
            <div class="text-area">
                <div>
                    @post.BodyPost
                </div>
            </div>
            @if (!string.IsNullOrEmpty(post.PictureLocation))
            {
                <div class="photo-container">
                    <div class="photo-area">
                        <img src="@post.PictureLocation" alt="Picture">
                    </div>
                </div>
            }
            
        </div>


        <div class="date-like-info">
            <div class="date-info">@post.DateCreated.ToString()</div>
            <div class="like-container">
                <div class="look-like">
                    <a class="look-btn" data-toggle="modal" data-target="#myModal" >Look</a>
                </div>
                <div class="like-count">@post.LikeCount</div>
                <div class="btn-like-wrapper">
                    <button class="btn btn-default btn-like clearfix" type="button">
                        <i class="glyphicon glyphicon-heart"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
}

