@{
    Layout = "~/Views/Shared/_SignedLayout.cshtml";
    ViewBag.Title = $"{Model.CurrentUser.FirstName} {Model.CurrentUser.LastName}";

}
@model Scambio.Web.ViewModels.UserPageViewModel

<div class="modal fade " id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">People who liked this</h4>
            </div>
            <div class="modal-body" id="modalBodyLikes">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="main-container">
    <div class="wall" id="@Model.CurrentUser.Id">
        @if (Model.CurrentUser.Id != Model.LogginedUser.Id)
        {
            <div class="current-user">
                @if (!string.IsNullOrEmpty(Model.CurrentUser.AvatarLocation))
                {
                    <a class="fancybox" href="@Model.CurrentUser.OriginalAvatarLocation"><img src="@Model.CurrentUser.AvatarLocation" alt="ava" class="img-rounded current-user-avatar"></a>
                }
                else
                {
                    <a class="fancybox" href="~/Content/Assets/no_avatar.png">
                        <img src="~/Content/Assets/no_avatar.png" alt="ava" class="img-rounded current-user-avatar">
                    </a>
                }
                <span>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</span>
            </div>
        }

        <div class="add-post">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="bodyPost" id="tbBodyPost" class="form-control" placeholder="Enter text here...">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-add-picture btn-file">
                            <i class="glyphicon glyphicon-picture"></i>
                            <input type="file" accept="image/*" name="picturePost" id="PictureUpload">
                        </span>
                    </span>
                    <span class="input-group-btn ">
                        <input class="btn btn-default send-msg-btn" id="btnSend" type="submit" value="Send">
                    </span>
                </div>
            </div>
        </div>

        <div id="postdata">
            @Html.Action("PostsOnWall", new {userId = Model.CurrentUser.Id})
        </div>


    </div>
</div>


@*@Scripts.Render("~/bundles/jquery")*@
@section scripts
{
    <script>

        function bindBtnLike() {
            $(".btn-like").click(function() {
                var postId = $(this).parent().parent().parent().parent().attr('id');
                var formData = new FormData();
                formData.append("postId", postId);
                var thisBtn = $(this);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LikePost")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        thisBtn.parent().parent().find(".like-count").html(data);
                    },


                    error: function(xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });

            });
        }

        function bindBtnDelete() {
            $(".btn-delete-post-id").click(function() {
                var postId = $(this).parent().parent().parent().attr('id');
                var authorId = $(this).parent().parent().find(".author-post").attr('id');
                var wallId = $(".wall").attr('id');
                var formData = new FormData();
                formData.append("postId", postId);
                formData.append("authorId", authorId);
                formData.append("wallId", wallId);
                var thisBtn = $(this);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeletePost")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        if (data === "Deleted") {
                            thisBtn.parent().parent().parent().remove();
                        }


                    },


                    error: function(xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });

            });
        }


        function bindBtnLook() {
            $(".look-btn").click(function() {
                var postId = $(this).parent().parent().parent().parent().attr('id');

                var formData = new FormData();
                formData.append("postId", postId);
                var thisBtn = $(this);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetLikedUsers")',
                    data: formData,
                    dataType: 'html',
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        $("#modalBodyLikes").html(data);
                    },


                    error: function(xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });

            });
        }

        $(document).ready(function() {
            bindBtnDelete();
            bindBtnLike();
            bindBtnLook();

            $("#btnSend").click(function() {
                var formData = new FormData();
                var wallId = $(".wall").attr('id');
                formData.append("bodyPost", $("#tbBodyPost").val());
                formData.append("wallId", wallId);
                var files = document.getElementById("PictureUpload").files;

                if (files.length != 0)
                    formData.append("PictureUpload", files[0]);


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddPost")',
                    data: formData,
                    dataType: 'html',
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        //Fill div with results
                        if (data !== "") {
                            $("#postdata").html(data);

                            $("#tbBodyPost").val('');
                            $("#PictureUpload").val('');
                            bindBtnDelete();
                            bindBtnLike();
                            bindBtnLook();
                        }


                    },
                    error: function(xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            });


        });
    </script>

}