   
@{
    Layout = "~/Views/Shared/_SignedLayout.cshtml";
    //var options = new AjaxOptions()
    //{
    //    UpdateTargetId = "postdata",
    //    Url = Url.Action("PostsOnWall")

    //};
    @model Scambio.Logic.UserInfo
}


<div class="main-container">
    <div class="wall" id="@Model.Id">
       
        <div class="add-post">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="bodyPost" id="tbBodyPost" class="form-control" placeholder="Enter text here...">
                    <span class="input-group-btn">
                            <span class="btn btn-default btn-add-picture btn-file">
                                <i class="glyphicon glyphicon-picture"></i>
                                <input type="file" accept="image/*" name="picturePost" id="PictureUpload">
                            </span>
                        </span>
                    <span class="input-group-btn ">
                            <input class="btn btn-default send-msg-btn" id="btnSend" type="submit" value="Send">
                        </span>
                </div>
            </div>
        </div>
        
        <div id="postdata">
            @Html.Action("PostsOnWall", new {username = "test1"})
        </div>




    </div>
    </div>


    @*@Scripts.Render("~/bundles/jquery")*@
@section scripts
{
    <script>
        
        function bindBtnLike() {
            $(".btn-like").click(function () {
                var postId = $(this).parent().parent().parent().parent().attr('id');

                var formData = new FormData();
                formData.append("postId", postId);
                var thisBtn = $(this);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LikePost")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        thisBtn.parent().parent().find(".like-count").html(data);
                    },


                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });

            });
        }

        function bindBtnDelete() {
            $(".btn-delete-post-id").click(function () {
                var postId = $(this).parent().parent().parent().attr('id');
                var authorId = $(this).parent().parent().find(".author-post").attr('id');
                var wallId = $(".wall").attr('id');
                var formData = new FormData();
                formData.append("postId", postId);
                formData.append("authorId", authorId);
                formData.append("wallId", wallId);
                var thisBtn = $(this);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeletePost")',
                    data: formData,
                    dataType: 'html',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        thisBtn.parent().parent().parent().remove();
                    },


                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });

            });
        }

        $(document).ready(function () {
            bindBtnDelete();
            bindBtnLike();

            $("#btnSend").click(function() {
                var formData = new FormData();
                formData.append("bodyPost", $("#tbBodyPost").val());
                var files = document.getElementById("PictureUpload").files;

                if (files.length != 0)
                    formData.append("PictureUpload", files[0]);

             
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddPost")',
                    data: formData,
                    dataType: 'html',
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        //Fill div with results
                        if (data !== "") {
                            $("#postdata").html(data);

                            $("#tbBodyPost").val('');
                            $("#PictureUpload").val('');
                            bindBtnDelete();
                            bindBtnLike();
                        }


                    },
                    error: function(xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            });


            


        });
    </script>

}


